<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">

    <title>Obecni klienci</title>
  </head>
  <body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#"><img src="../static/images/logo.jpg" width="50" height="30" alt="Siłownia" class="offset-md-2"></a>
            <div class="collapse navbar-collapse" id="mainmenu">
			
				<ul class="navbar-nav mr-auto">
				
					<li class="nav-item active">
						<a class="nav-link" href="#"> Obecni klienci </a>
					</li>
					
					<li class="nav-item">
						<a class="nav-link" href="allClients.html"> Wszyscy klienci </a>
					</li>
					
					<li class="nav-item">
						<a class="nav-link" href="#"> Dodaj klienta </a>
					</li>
                    
				</ul>
                <button class="btn btn-light float-right" id="logoutBtn" type="button">Wyloguj</button> 
			</div>
        </nav>
    </header>
    
    <div class="row">
        <div class="col-sm-4 offset-md-1">
            <h4>Klienci na siłowni</h4>
            <ol class="list-group list-group-numbered">
                <li class="list-group-item d-flex justify-content-between align-items-start list-group-item-secondary">
                  <div class="ms-2 me-auto">
                    <div class="fw-bold">Kowalski Jan</div>
                    Godzina wejścia: 13.24
                  </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start list-group-item-secondary">
                  <div class="ms-2 me-auto">
                    <div class="fw-bold">Kowalski Jan</div>
                    Godzina wejścia: 13.24
                  </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start list-group-item-secondary">
                  <div class="ms-2 me-auto">
                    <div class="fw-bold">Kowalski Jan</div>
                    Godzina wejścia: 13.24
                  </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start list-group-item-secondary">
                    <div class="ms-2 me-auto">
                      <div class="fw-bold">Kowalski Jan</div>
                      Godzina wejścia: 13.24
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start list-group-item-secondary">
                    <div class="ms-2 me-auto">
                      <div class="fw-bold">Kowalski Jan</div>
                      Godzina wejścia: 13.24
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start list-group-item-secondary">
                    <div class="ms-2 me-auto">
                      <div class="fw-bold">Kowalski Jan</div>
                      Godzina wejścia: 13.24
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start list-group-item-secondary">
                    <div class="ms-2 me-auto">
                      <div class="fw-bold">Kowalski Jan</div>
                      Godzina wejścia: 13.24
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start list-group-item-secondary">
                    <div class="ms-2 me-auto">
                      <div class="fw-bold">Kowalski Jan</div>
                      Godzina wejścia: 13.24
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start list-group-item-secondary">
                    <div class="ms-2 me-auto">
                      <div class="fw-bold">Kowalski Jan</div>
                      Godzina wejścia: 13.24
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start list-group-item-secondary">
                    <div class="ms-2 me-auto">
                      <div class="fw-bold">Kowalski Jan</div>
                      Godzina wejścia: 13.24
                    </div>
                </li>
            </ol>
        </div>
        <div class="col-sm-6">
            <h4>Klienci w kolejce do zapłaty</h4>
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-start list-group-item-secondary">
                    <div class="ms-2 me-auto">
                      <h5 class="mb-1">Kowalski Jan</h5>
                      <small>Czas: 1h 33m</small><br />
                      <small>Do zapłaty: 33.30 zł</small>
                    </div>
                    <button class="btn btn-dark float-right" id="submitPaymentBtn" type="button">Zatwierdź</button> 
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start list-group-item-secondary">
                    <div class="ms-2 me-auto">
                      <h5 class="mb-1">Kowalski Jan</h5>
                      <small>Czas: 1h 33m</small><br />
                      <small>Do zapłaty: 33.30 zł</small>
                    </div>
                    <button class="btn btn-dark float-right" id="submitPaymentBtn" type="button">Zatwierdź</button> 
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start list-group-item-secondary">
                    <div class="ms-2 me-auto">
                      <h5 class="mb-1">Kowalski Jan</h5>
                      <small>Czas: 1h 33m</small><br />
                      <small>Do zapłaty: 33.30 zł</small>
                    </div>
                    <button class="btn btn-dark float-right" id="submitPaymentBtn" type="button">Zatwierdź</button> 
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start list-group-item-secondary">
                    <div class="ms-2 me-auto">
                      <h5 class="mb-1">Kowalski Jan</h5>
                      <small>Czas: 1h 33m</small><br />
                      <small>Do zapłaty: 33.30 zł</small>
                    </div>
                    <button class="btn btn-dark float-right" id="submitPaymentBtn" type="button">Zatwierdź</button> 
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start list-group-item-secondary">
                    <div class="ms-2 me-auto">
                      <h5 class="mb-1">Kowalski Jan</h5>
                      <small>Czas: 1h 33m</small><br />
                      <small>Do zapłaty: 33.30 zł</small>
                    </div>
                    <button class="btn btn-dark float-right" id="submitPaymentBtn" type="button">Zatwierdź</button> 
                </li>
            </ul>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>