<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">

    <title>Login</title>
  </head>
  <body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#"><img src="../static/images/logo.jpg" width="50" height="30" alt="Siłownia" class="offset-md-2"></a>
            <a class="navbar-brand" href="#">Siłownia fitness</a>
        </nav>
    </header>
    <h2>Siłownia fitness - klub z zasadami</h2>
    <section class="photos">
      <div class="row">
        <div class="col-sm-5 offset-md-1">

          <div class="row">
            <div class="col-sm-6">
              <figure>
                <img src="../static/images/sala.jpg" alt="sala">
              </figure>
            </div>
            <div class="col-sm-6">
              <figure>
                <img src="../static/images/hantle.jpg" alt="hantle">
              </figure>
            </div>
            <div class="col-sm-6">
              <figure>
                <img src="../static/images/bieznie.jpg" alt="bieznie">
              </figure>
            </div>
            <div class="col-sm-6">
              <figure>
                <img src="../static/images/lawa.jpg" alt="lawa">
              </figure>
            </div>
            <div class="col-sm-6">
              <figure>
                <img src="../static/images/sala2.jpg" alt="sala2">
              </figure>
            </div>
            <div class="col-sm-6">
              <figure>
                <img src="../static/images/rowerki.jpeg" alt="rowerki">
              </figure>
            </div>
          </div>
        </div>

        <div class="col-sm-6 d-flex justify-content-center">
          <div class="row">
            <form id="loginForm">
              <div class="form-group row">
                <label for="login-input">Login</label>
                <input type="text" class="form-control" id="login-input" aria-describedby="emailHelp" placeholder="Wprowadź login">
              </div>
              <div class="form-group row">
                <label for="pass-input">Hasło</label>
                <input type="password" class="form-control" id="pass-input" placeholder="Wprowadź hasło">
              </div>
              <div class="form-group row">
                <div class="col-md-4 offset-md-7">
                  <button type="submit" id="loginBtn" class="btn btn-primary">Zaloguj</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>